.cart .bg{
    background-image: url('../assets/brand-cards.jpg');
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cart .bg h1{
    background-color: rgba(31, 12, 68, 0.484) !important;
}


.cart table tr td img{
    width: 170px;
    margin: 10px !important;
}

.cart table tr td .name{
    white-space: nowrap;
}

.card table tr td input{
    width: 25% !important;
}

.cart table tr td .btn{
    /* border-block: 1px solid grey; */
    border: 1px solid rgb(31, 12, 68);
    color: rgb(31, 12, 68);
}

.cart table tr td .btn:hover{
    background-color: rgb(31, 12, 68);
    color: white;
    box-shadow: 0px 0px 5px grey;
    transition: all ease-in-out .2s;
}

@media (max-width: 700px) {
    .cart table{
        width: 100vw !important;
    }
}