*{
    padding: 0;
    margin: 0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; */
    transition: all ease-in-out 1s;
}

.big-div{
    width: 100vw !important;
    overflow-x: hidden !important;
}
/* TOPNAV */
.topnav{
    /* background-color: #21294E; */
    box-shadow: 0px 5px 5px #ffff;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw !important;
    background-color: white;
    z-index: 1000;
}
.topnav .logo:hover{
    border: none;
    cursor: pointer;
}
/* .topnav .search{
    border: 1px solid white;
    overflow: hidden;
    width: fit-content;
}
.topnav .search{
    border: 1px solid black;
}
.topnav .search input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 30vw;
}
.topnav .search :last-child{
    border: none;
} */
/* .topnav .category:hover{
    text-decoration: underline !important;
} */
/* .topnav .category-dropdown{
    height: fit-content; */
    /* border: 1px solid black; */
    /* box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.547);
    border-top: none;
    width: 150px !important;
}
.topnav .category :last-child, .topnav .category button{
    margin-bottom: -20px;
}
.topnav .category:hover .category-dropdown{
    display: grid !important;
    position: absolute; */
    /* top: 5px; */
/* }
.topnav .author-dropdown{
    position: absolute; */
    /* height: fit-content; */
    /* border: 1px solid black; */
    /* box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.53);
    border-left: none;
    width: 200px; */
    /* left: -6px; */
    /* background-color: white;
}
.topnav .author:hover .author-dropdown{
    display: grid !important;
} */
.topnav .dropdown{
    /* width: 100vw; */
}
.topnav .dropdown .menu{
    /* position: absolute; */
    /* right: 0; */
    display: none;
    color: rgb(31, 12, 68);
    background-color: white;
    border: 1px solid rgb(31, 12, 68);
}
.topnav .dropdown .menu:hover{
    background-color: rgb(31, 12, 68);
    color: white;
    box-shadow: 0px 0px 5px grey;
    transition: all ease-in-out .2s;
}
.topnav a{
    border: none;
    color: black;
    border-radius: 0 !important;
    border: 2px solid transparent;
}
.topnav a:hover{
    /* background-color: #B2BACC; */
    /* background-color: rgb(31, 12, 68); */
    border-bottom: 2px solid rgb(31, 12, 68) !important;
    transition: all ease-in-out .2s;
    /* color: white !important; */
}
.topnav a:active{
    background-color: #ffff !important;
    color: rgb(31, 12, 68) !important;
    border: 1px solid rgb(31, 12, 68);
}
.topnav .log, .notfound .log{
    background-color: rgb(31, 12, 68) !important;
    width: fit-content;
}
.topnav .sign{
    color: rgb(31, 12, 68);
    border: 1px solid rgb(31, 12, 68);
}

/* 404 PAGE */

.notfound h5{
    white-space: nowrap;
}
.notfound div{
    min-height: 20vh;
}
.notfound .log{
    background-color: white !important;
    border: 1px solid rgb(31, 12, 68) !important;
    color: rgb(31, 12, 68) !important;
}
.notfound .log:hover{
    background-color: rgb(31, 12, 68) !important;
    color: white !important;
    box-shadow: 0px 0px 5px gray !important;
    transition: all ease-in-out .2s;
}
a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

/* FOOTER */

.footer{
    background-color: rgb(31, 12, 68);
    /* position: sticky;
    bottom: 0;
    left: 0;
    right: 0; */
}

.footer .container{
    flex-wrap: wrap;
}
.footer .links ul, .footer .follow ul{
    list-style-type: none;
}
.footer li, .footer a{
    line-height: 30px;
    width: 100% !important;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
/* .footer .follow a{ */
    /* background-color: white; */
/* } */
.footer .follow a .icon:hover{
    color: grey !important;
    transition: all ease-in-out 0s !important;
}

@media (max-width: 800px) {
    .topnav{
        position: relative !important;
    }
    .topnav .dropdown .div img{
        display: block !important;
        padding-left: 1rem;
    }
    .topnav .dropdown{
        width: 100vw !important;
        position: absolute !important;
        /* top: -500px !important; */
        left: 0 !important;
        /* right: 0; */
        /* left: 0 !important; */
        /* right: 0; */
    }
    .topnav .dropdown .menu{
        display: block !important;
        float: right;
    }
    .topnav .dropdown .cancel{
        display: none !important;
    }
    .topnav .dropdown .div{
        flex-direction: column;
        background-color: rgb(31, 12, 68) !important;
        padding: 20px;
        position: absolute !important;
        top: -500px !important;
        width: 100%;
        /* padding-top: 70px; */
        /* z-index: -1; */
    }
    .topnav .dropdown .drop:focus-within .div{
        position: absolute !important;
        top: -500px !important;
    }
    .topnav .dropdown .drop:focus-within .cancel{
        display: none !important;
    }
    .topnav .div a{
       color: white !important;
       text-align: center !important;
       padding-block: 5px;
    }
    .topnav .div a:hover{
        border-bottom: 2px solid white !important;
    }

    .topnav .dropdown:focus-within .div{
        top: -10px !important;
        left: 0;
        transition: all ease-in-out .5s;
    }
    .topnav .dropdown:focus-within .cancel{
        display: block !important;
        z-index: 1;
        color: white;
        border: 1px solid white;
        background-color: rgb(31, 12, 68);
        position: absolute;
        top: 0;
        right: 0;
    }
}