.shop .search{
    background-image: url('../assets/brand-cards.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 100px rgb(0, 0, 0) inset;
    height: 70vh;
}
.shop .search .search-div{
    /* box-shadow: inset 0px 0px 100px #532768; */
    background-color: rgba(31, 12, 68, 0.484);
    /* background-blend-mode: darken; */
}
.shop .search .search-input{
    width: 75vw;
    min-width: 300px;
}
.search .search-input div{
    /* border: 1px solid black; */
    overflow: hidden;
}
.search .search-input div input, .search .search-input div select, .search .search-input div button{
    border: none;
    /* outline: none; */
}
/* .search .search-input div select{
    border-inline: 1px solid black;
} */
.search .search-input .search-btn{
    background-color: #532768;
    color: white;
}
.search .search-input .search-btn:hover{
    background-color: white;
    border: 1px solid #532768;
    color: #532768;
    transition: all ease-in-out .2s !important;
}


/* SIDENAV */
.sidenav{
    /* border-right: 1px solid black; */
    box-shadow: 0px 2px 4px gray;
    min-width: fit-content !important;
    /* background-color: #2d365f39; */
}
/* .sidenav button:hover, .sidenav label:hover{
    background-color: #2d365f39;
} */
.sidenav input{
    accent-color: #2d2d2d;
}

/* DISPLAY */
.display .card-div{
    /* width: fit-content; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly !important; */
    /* gap: 20px; */
}
.display .cards{
    height: 270px;
    width: 200px;
    /* overflow: hidden; */
}
.display .cards:hover{
    box-shadow: 0px 8px 10px rgb(159, 158, 158) !important;
    transform: translateY(-5px);
}
.display .cards:hover .img{
    box-shadow: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.display .cards:hover .save{
    display: block;
    transition: all ease-in-out .2s;
    /* transition-delay: 1s !important; */
}
.display .cards:focus-within .save{
    display: block;
}
.display .cards .img{
    background-image: url('../assets/brand-cards.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.display .cards .save{
    border: none;
    display: none;
}
.display .cards .card{
    display: none;
}
.display .save-div:focus-within .card{
    display: block;
}
.display .cards .save:hover{
    background-color: rgba(128, 128, 128, 0.511) !important;
}
.display .cards .download{
    background-color: white;
    color: rgb(31, 12, 68) !important;
    border: 1px solid rgb(31, 12, 68);
}
.display .cards .download:hover{
    background-color: rgb(31, 12, 68);
    color: white !important;
    box-shadow: 0px 0px 5px grey;
    transition: all ease-in-out .3s;
}
.display .cards .download:active{
    background-color: #602e78;
    color: white !important;
}

@media (max-width: 990px) {
    .display .card-div{
        gap: 35px !important;
    }
}

@media (max-width: 500px) {
    .display .card-div{
        gap: 20px !important;
    }
    .display .card-div .cards{
        width: 170px;
        height: 200px;
    }
}